body {
    text-align: center;
    margin: 0;
    padding: 0;
}

#nickname-container {
    margin-top: 20px;
}

#canvas-container {
    margin-top: 20px;
}

#drawing-toolbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

canvas {
    border: 1px solid #000;
}
